<h2>Select document</h2>

<div class="container">

    <div class="container__element col-2-3 text-center">
        <div class="container">

             <div class="container__element col-1-2 panel">
                <div class="container --wrap">
                    <!--<div class="container__element col-12">
                        <img src="src/app/assets/img/login.png" alt="Image">                
                    </div>-->
                    <div class="container__element">
                        <div class="form__inner__field">
                        <h4>Companies</h4>
                        <button class="panel__button"><a style="color:white;" href="/documents/companies/pdf">PDF</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/companies/xls">XLS</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/companies/csv">CSV</a></button>
                    </div>
                </div>

                <div class="container --wrap">
                    <!--<div class="container__element col-12">
                        <img src="src/app/assets/img/login.png" alt="Image">                
                    </div>-->
                    <div class="container__element">
                        <div class="form__inner__field">
                        <h4>Resumes</h4>
                        <button class="panel__button"><a style="color:white;" href="/documents/resumes/pdf">PDF</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/resumes/xls">XLS</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/resumes/csv">CSV</a></button>
                    </div>
                </div>

                <div class="container --wrap">
                    <!--<div class="container__element col-12">
                        <img src="src/app/assets/img/login.png" alt="Image">                
                    </div>-->
                    <div class="container__element">
                        <div class="form__inner__field">
                        <h4>Salaries</h4>
                        <button class="panel__button"><a style="color:white;" href="/documents/salaries/pdf">PDF</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/salaries/xls">XLS</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/salaries/csv">CSV</a></button>
                    </div>
                </div>

                <div class="container --wrap">
                    <!--<div class="container__element col-12">
                        <img src="src/app/assets/img/login.png" alt="Image">                
                    </div>-->
                    <div class="container__element">
                        <div class="form__inner__field">
                        <h4>Users</h4>
                        <button class="panel__button"><a style="color:white;" href="/documents/users/pdf">PDF</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/users/xls">XLS</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/users/csv">CSV</a></button>
                    </div>
                </div>

                <div class="container --wrap">
                    <!--<div class="container__element col-12">
                        <img src="src/app/assets/img/login.png" alt="Image">                
                    </div>-->
                    <div class="container__element">
                        <div class="form__inner__field">
                        <h4>Vacancies</h4>
                        <button class="panel__button"><a style="color:white;" href="/documents/vacancies/pdf">PDF</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/vacancies/xls">XLS</a></button>
                        <button class="panel__button"><a style="color:white;" href="/documents/vacancies/csv">CSV</a></button>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>