<div class="navigation container --no-margin" *ngIf="userService.isAuth() && userService.isUser()">
    <div class="container__element col-2-3 --no-height-margin">
        <div class="container navigation__inner --no-height-margin">
            <a class="container__element --no-height-padding" routerLink='/profiles/{{userService.getUserId()}}/edit' routerLinkActive="disabled">Edit</a>
            <a class="container__element --no-height-padding" routerLink='/profiles/{{userService.getUserId()}}/resumes' routerLinkActive="disabled">Resumes</a>
            <a class="container__element --no-height-padding" routerLink='/profiles/{{userService.getUserId()}}/resumes/create' routerLinkActive="disabled">+Resume</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>