<nav class="navigation">
    <div id="menu" class="navigation__inner">
        <a class="navigation__inner__logo" href="/home">
            <img class="navigation__inner__logo__icon" id="store-icon" alt="HK" height="30" width="30" [src]="logo" />
        </a>
        <a class="navigation__inner__menu--show" href="#menu">Menu</a><a class="navigation__inner__menu--hide" href="#hidemenu">Menu</a>
        <ul class="navigation__inner__menu__buttons">
            <li><a href="/welcome">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </div>
</nav>
