<div class="container navigation --no-margin" *ngIf="userService.isAuth() && userService.isCompany()">
    <div class="container__element col-2-3 --no-height-margin">
        <div class="container navigation__inner --no-height-padding --color-white text-center">
            <a class="container__element panel__button --no-height-padding" routerLink='/companies/{{userService.getUserId()}}/info' routerLinkActive="disabled">Info</a>
            <a class="container__element panel__button --no-height-padding" routerLink='/companies/{{userService.getUserId()}}/edit' routerLinkActive="disabled">Edit</a>
            <a class="container__element panel__button --no-height-padding" routerLink='/companies/{{userService.getUserId()}}/vacancies' routerLinkActive="disabled">Vacancies</a>
            <a class="container__element panel__button --no-height-padding" routerLink='/companies/{{userService.getUserId()}}/vacancies/create' routerLinkActive="disabled">+Vacancy</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>