<form class="entity-form" method="post">
    <div class="entity-form__header">
        <label>Sign up as user</label>
    </div>

    <div class="entity-form__inner">
        <div class="entity-form__inner__field">
            <label>Email</label>
            <input type="text" maxlength="90" placeholder="Enter email" name="email" required [(ngModel)]="account.email">
        </div>
        <div class="entity-form__inner__field">
            <label>Nickname</label>
            <input type="text" maxlength="45" placeholder="Enter nickname" name="nickName" required [(ngModel)]="account.nickname">
        </div>
        <div class="entity-form__inner__field">
            <label>Name</label>
            <input type="text" maxlength="90" placeholder="Enter name" name="name" required [(ngModel)]="account.name">
        </div>
        <div class="entity-form__inner__field">
            <label>Phone</label>
            <input type="text" maxlength="20" placeholder="Enter phone number" name="phoneNumber" required [(ngModel)]="account.phoneNumber">
        </div>

        <div class="entity-form__inner__field">
            <label>Password to save</label>
            <input type="password" placeholder="Enter Password" name="pass" required [(ngModel)]="pass">
        </div>

        <div class="entity-form__inner__buttons">
            <button (click)="changeProfile()">Sign up</button>
            <a routerLink='/welcome'>
                <button type="button">Cancel</button>
            </a>
        </div>
    </div>
  
</form>