<form class="entity-form" method="post">
    <div class="entity-form__header">
        <label>Company information</label>
    </div>
    <div class="entity-form__inner">

        <div class="entity-form__inner__field">
            <label>Email</label>
            <input type="text" placeholder="Enter email" name="email" required [(ngModel)]="email">
        </div>
        <div class="entity-form__inner__field">
            <label>Nickname</label>
            <input type="text" placeholder="Enter nickname" name="nickName" required [(ngModel)]="nickname">
        </div>
        <div class="entity-form__inner__field">
            <label>Name</label>
            <input type="text" placeholder="Enter name" name="name" required [(ngModel)]="name">
        </div>
        <div class="entity-form__inner__field">
            <label>Description</label>
            <textarea type="text" name="description" required [(ngModel)]="description"></textarea>
        </div>
        <div class="entity-form__inner__field">
            <label>Address</label>
            <input type="text" placeholder="Enter address" name="address" required [(ngModel)]="address">
        </div>
    </div>
</form>