.panel {
    background-color: #F8F8F8;
    border-radius: 7px;
    text-transform: capitalize;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.panel:first-of-type {
    margin-left: auto;
}

.--color-white {
    background-color: #F8F8F8;
}

.--header {
    margin-bottom: 10px;
}

.panel img {
    max-height: 192px;
    max-width: 192px;
}

.panel__button {
    border: 1px solid #09464c;
    background-color: #0C555C;
    color: #ECF0F1;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;

    max-width: 80px;
}

.--big-font {
    font-size: 25px;
}

.--square {
    max-width: 250px;
    max-height: 250px;
}

.panel_button:hover + div {
    transition: all 0.3s ease;
    background-color: #FF6861;
}

.--no-margin {
    margin: 0px;
}

.--no-padding {
    padding: 0px;
}

.--left {
    align-self: flex-start;
}

.--right {
    align-self: flex-end;
}

/* Navigation panel */
.navigation {
    background-color: black;
    box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.6);
}

/*------ Buttons align ------*/
.navigation li, .navigation a {
    height: 50px;
    line-height: 50px;
}
/* -------------------------- */


/*------- Menu position ------*/
.navigation__inner {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}
/* -------------------------- */


/*------ Buttons color -------*/
.navigation__inner a, .navigation__inner a:visited {
    color: #ffffff;
}

.navigation__inner a:hover, .navigation__inner a:target {
    transition: all 0.2s ease;
    color: #e54c26;
}  

/*- Distance between buttons -*/
.navigation__inner__menu__buttons li {
    margin-right: 10px;
    margin-left: 10px;
}

.navigation__inner__menu__buttons a {
    text-decoration: none;
}
/* -------------------------- */