<div class="container">

    <div class="container__element col-1-6"></div>

    <div class="container__element col-2-3 text-center">
        <div class="container --wrap">
            <div class="container__element panel col-5-12">
                <div class="container">
                    <img src="src/app/assets/img/login.png" alt="Image">                
                    <a routerLink='../login' routerLinkActive="disabled">Sign in</a>
                </div>
            </div>

            <div class="container__element col-1-6"></div>

            <div class="container__element panel col-5-12">
                <div class="container --wrap">
                    <img src="src/app/assets/img/register.png" alt="Image">
                    <a routerLink='../registration' routerLinkActive="disabled">Sign up</a>        
                </div>
            </div>
        </div>            
    </div>

    <div class="container__element col-1-6"></div>

</div>