<nav class="navigation">
    <div id="menu" class="navigation__inner">
        <a class="navigation__inner__logo" href="/welcome">
            <img src="src/app/assets/img/brand.png" class="navigation__inner__logo__icon" id="store-icon" alt="HK" height="30" width="30"  />
        </a>
        <a class="navigation__inner__menu--show" href="#menu">Menu</a><a class="navigation__inner__menu--hide" href="#hidemenu">Menu</a>
        <ul class="navigation__inner__menu__buttons">
            <li><a routerLink="/welcome" routerLinkActive="disabled">Home</a></li>
            <li><a routerLink="/help" routerLinkActive="disabled">Help</a></li>
            <li><a routerLink="/accounts/main" routerLinkActive="disabled">Account</a></li>
        </ul>
    </div>
</nav>
